<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

<bean name="source" class="com.soho.ioc.Source">
   <property name="fruit"  value="橙子" />
   <property name="sugar"  value="多糖" />
   <property name="size"  value="大份" />

</bean>

<!-- 通过属性设值注入 
<bean name="juiceMaker" class="com.git.cbs.springdemo.cbs.JuiceMaker">
   <property name="source" ref="source"></property>
</bean>
-->

<!-- 通过构造器驻入 -->

<bean name="juiceMaker" class="com.soho.ioc.JuiceMaker">
   <constructor-arg name="source1" ref="source"></constructor-arg> 
</bean>

</beans>