<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd">
        
<bean id="userService" class="com.soho.beanaop.UserService" />

<!-- 自定义拦截器 -->
<bean id="globalTranactionInterceptor"  class="com.soho.beanaop.GlobalTranactionInterceptor" />

<bean id="sagaActionInterceptor"  class="com.soho.beanaop.SagaActionInterceptor" />

<aop:config proxy-target-class="true">

   <!-- 定义切入点规则 -->
   <aop:pointcut id= "globaltranPoint" expression="@annotation(com.soho.beanaop.GlobalTransaction)" />
   <!-- 定义切面=Pointcut + Advice. 在该切入点使用自定义拦截器 -->
   <aop:advisor advice-ref="globalTranactionInterceptor" pointcut-ref="globaltranPoint"/>
   
</aop:config>

<aop:config proxy-target-class="true">

   <aop:pointcut id= "sagaPoint" expression="@annotation(com.soho.beanaop.SagaAction)" />
   
   <!-- 在该切入点使用自定义拦截器 -->
   <aop:advisor advice-ref="sagaActionInterceptor" pointcut-ref="sagaPoint"/>

</aop:config>

</beans>